body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f1115;
color:white;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

display:flex;
justify-content:center;
align-items:center;

}

.login-card{

background:#16181d;
padding:40px;
border-radius:10px;

width:320px;

display:flex;
flex-direction:column;

box-shadow:0 0 20px rgba(0,0,0,0.4);

}

h1{

text-align:center;
margin-bottom:5px;

}

.subtitulo{

text-align:center;
margin-bottom:25px;
color:#aaa;

}

label{

margin-top:10px;
margin-bottom:5px;

}

input{

padding:10px;
border:none;
border-radius:6px;

background:#1f2228;
color:white;

}

input:focus{

outline:1px solid #1f7a4c;

}

.btn-login{

margin-top:20px;

padding:12px;

border:none;
border-radius:6px;

background:#1f7a4c;
color:white;

font-size:16px;

cursor:pointer;

}

.btn-login:hover{

background:#24945d;

}

#mensagem{

margin-top:15px;
text-align:center;
color:#ccc;

}